body {
    margin: 0px;
}

.wrapper {
    display: block;
    margin: 0px;
    padding: 0px;
}

#content {
    z-index: 1;
    position: fixed;
    display: block;
    width: 100%;
    margin: 20px;
    text-align: center;
}

#spinner {
    width: 500px;
}

.form-group {
    margin-bottom: 10px;
}

#title-container {
    display: block;
    margin: 20px;
    padding: 0px;
    text-align: center;
}

#title {
    display: inline-block;
    position: relative;

    font-size: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 10px #000;

    /* text shadow */
    text-shadow: 0px 0px 10px #000;

    
    transition: all 0.5s ease-in-out;
}

/* Animation to move the element left and right periodically */
#title.bandicoot {
    transform-style: preserve-3d;
    animation-timing-function: linear;
    animation: bandicoot 1s infinite;
}

/* Key frames for the animation */
@keyframes bandicoot {
    0% {
        left: -100px;
        transform: rotate3d(1, 1, 1, -30deg);
    }
    50% {
        left: 100px;
        transform: rotate3d(1, 1, 1, 30deg);
    }
    100% {
        left: -100px;
        transform: rotate3d(1, 1, 1, -30deg);
    }
}

